# This is a basic workflow to help you get started with Actions

name: Auto Update

# Controls when the action will run. 
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          ref: release
        
      - name: Build data
        run: python '$GITHUB_WORKSPACE/p5e-foundryVTT/tools/workflow-make.py' 
      
      - name: Get version number
        run: DATA_VERSION=`cat "$GITHUB_WORKSPACE/p5e-foundryVTT/VERSION"`
      
      # Add and commit changes
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'Update $DATA_VERSION'
      
      - uses: actions/upload-artifact@v2
        with:
          name: "v$DATA_VERSION"
          path: "$GITHUB_WORKSPACE/p5e-foundryVTT/dist/Pokemon5e.zip"
